In [134]:
records ={
    1:['Ivan', 39, 'PSMDS'],
    2:['Cassidy', 29, 'BSIT'],
    3:['John', 28, 'BSCS'],
    4:['Chris', 30, 'BSME']
    }

In [135]:
records.keys()

dict_keys([1, 2, 3, 4])

In [136]:
for i in records:
  print('ID No.' + str(i) + ' :' + 'Details' + str(records[i]))

ID No.1 :Details['Ivan', 39, 'PSMDS']
ID No.2 :Details['Cassidy', 29, 'BSIT']
ID No.3 :Details['John', 28, 'BSCS']
ID No.4 :Details['Chris', 30, 'BSME']

In [137]:
list(records.keys())[-1]

4

In [138]:
def add_record(records, details):
  for record in details:
    id_no = len(records) + 1
    name, age, course = record
    duplicate = any(existing == [name, age, course] for existing in records.values()) #Edge case: duplicate records

    if duplicate:
      print(f'Record {name} {age} {course} already exists')
    else:
      records[id_no] = [name, age, course]
      print(f'Name {name} {age} {course} added')

In [139]:
#Test Function
details = [['Ivan', 39, 'PSMDS']]

In [140]:
add_record(records, details)

Record Ivan 39 PSMDS already exists

In [141]:
records

{1: ['Ivan', 39, 'PSMDS'],
 2: ['Cassidy', 29, 'BSIT'],
 3: ['John', 28, 'BSCS'],
 4: ['Chris', 30, 'BSME']}

In [142]:
findID = 1
if findID not in records:
  print('ID Not Found!')
else:
  print(records[findID])

['Ivan', 39, 'PSMDS']

In [143]:
def readRecord(records, findID):
  if findID not in records:
    print('ID Not Found!')  #Print ID Not Found
    return
  else:
    print(records[findID]) #Print Records

In [144]:
print(readRecord(records, 4))

['Chris', 30, 'BSME']
None

In [145]:
findID = 4
index = 2
records[findID][index]

'BSME'

In [146]:
def updateRecord(records, findID, index, newValue):
  if findID not in records:
    return 'ID Not Found'
  else:
    records[findID][index] = newValue
    print(f'Record with Find ID {findID} has been updated')
    return records[findID]

In [147]:
records

{1: ['Ivan', 39, 'PSMDS'],
 2: ['Cassidy', 29, 'BSIT'],
 3: ['John', 28, 'BSCS'],
 4: ['Chris', 30, 'BSME']}

In [148]:
updateRecord(records, 1, 1, 40)
print(records[1])

Record with Find ID 1 has been updated
['Ivan', 40, 'PSMDS']

In [149]:
def deleteRecord(records, delete_ID):
  delete_ID = 1
  del records[delete_ID]
  records

In [150]:
deleteRecord(records, 1)
records

{2: ['Cassidy', 29, 'BSIT'], 3: ['John', 28, 'BSCS'], 4: ['Chris', 30, 'BSME']}