In [1]:
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS STUDENT")
query = """CREATE TABLE user(
 customer_name char(50) NOT NULL,
 account_number char(50),
 address char(50),
 phone char(20) )"""
cursor.execute(query)
conn.commit()
conn.close()

In [2]:
 """
CREATE TABLE table_name (
 column name datatype properity,
 ...
 ...
);
"""

'\nCREATE TABLE table_name (\ncolumn name datatype properity,\n...\n...\n);\n'

In [4]:
import sqlite3
conn = sqlite3.connect('banking.db')
conn.execute("INSERT INTO user (customer_name, account_number, address, phone) "
 "VALUES ('Ivan Villena', '123-456', 'Pasig', '12345678')")
conn.execute("INSERT INTO user (customer_name, account_number, address, phone) "
 "VALUES ('Tere Villena', '345-678', 'Cavite', '34567890')")
conn.execute("INSERT INTO user (customer_name, account_number, address, phone) "
 "VALUES ('Robert Chippy', '789-123', 'Manila', '89012345')")
conn.execute("INSERT INTO user (customer_name, account_number, address, phone) "
 "VALUES ('Anna Snacku', '678-901', 'Quezon City', '23457890')")
conn.execute("INSERT INTO user (customer_name, account_number, address, phone) "
 "VALUES ('Michael Pringles', '567-321', 'Taguig', '21784532')")
conn.commit()
conn.close()

In [16]:
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.execute("SELECT * from user")
for row in cursor: #Used this instead of fetchall
    print(row)

conn.close()

#Modified the code to print the result in column

('Ivan Villena', '123-456', 'Pasig', '12345678')
('Tere Villena', '345-678', 'Cavite', '34567890')
('Robert Chippy', '789-123', 'Manila', '89012345')
('Anna Snacku', '678-901', 'Quezon City', '23457890')
('Michael Pringles', '567-321', 'Taguig', '21784532')

SyntaxError: invalid syntax (<ipython-input-17-e0eb30216c50>, line 3)

In [20]:
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS account")
query = """CREATE TABLE account(
 accNo char(50) NOT NULL,
 custName char(50),
 balance float )"""
cursor.execute(query)
conn.commit()
conn.close()

In [22]:
import sqlite3
conn = sqlite3.connect('banking.db')
conn.execute("INSERT INTO account (accNo, custName, balance) "
 "VALUES ('123-456','Ivan Villena', '2000.00')")
conn.execute("INSERT INTO account (accNo, custName, balance) "
 "VALUES ('345-678','Tere Villena', '3000.00')")
conn.execute("INSERT INTO account (accNo, custName, balance) "
 "VALUES ('789-123','Robert Chippy', '5000.00')")
conn.execute("INSERT INTO account (accNo, custName, balance) "
 "VALUES ('678-901','Anna Snacku', '6000.00')")
conn.execute("INSERT INTO account (accNo, custName, balance) "
 "VALUES ('567-321','Michael Pringles', '10000.00')")
conn.commit()
conn.close()

In [23]:
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.execute("SELECT * from account")
for row in cursor: #Used this instead of fetchall
    print(row)

conn.close()

('123-456', 'Ivan Villena', 2000.0)
('345-678', 'Tere Villena', 3000.0)
('789-123', 'Robert Chippy', 5000.0)
('678-901', 'Anna Snacku', 6000.0)
('567-321', 'Michael Pringles', 10000.0)

In [29]:
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS bank")
query = """CREATE TABLE bank(
 custDetails char(50) NOT NULL,
 loanDetails char(50),
 txNo int,
 txDate date,
 txTime time)"""
cursor.execute(query)
conn.commit()
conn.close()

In [30]:
import sqlite3
conn = sqlite3.connect('banking.db')
conn.execute("INSERT INTO bank (custDetails, loanDetails, txNo, txDate, txTime) "
 "VALUES ('Savings','Salary Loan', 1, '2024-11-01', '04:30:00')")
conn.execute("INSERT INTO bank (custDetails, loanDetails, txNo, txDate, txTime) "
 "VALUES ('Savings','Salary Loan', 2, '2024-11-02', '05:30:00')")
conn.execute("INSERT INTO bank (custDetails, loanDetails, txNo, txDate, txTime) "
 "VALUES ('Savings','Salary Loan', 3, '2024-11-03', '10:45:00')")
conn.execute("INSERT INTO bank (custDetails, loanDetails, txNo, txDate, txTime) "
 "VALUES ('Savings','Salary Loan', 4, '2024-11-10', '05:10:00')")
conn.execute("INSERT INTO bank (custDetails, loanDetails, txNo, txDate, txTime) "
 "VALUES ('Savings','Salary Loan', 5, '2024-11-15', '12:45:00')")
conn.commit()
conn.close()

In [31]:
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.execute("SELECT * from bank")
for row in cursor: #Used this instead of fetchall
    print(row)

conn.close()

('Savings', 'Salary Loan', 1, '2024-11-01', '04:30:00')
('Savings', 'Salary Loan', 2, '2024-11-02', '05:30:00')
('Savings', 'Salary Loan', 3, '2024-11-03', '10:45:00')
('Savings', 'Salary Loan', 4, '2024-11-10', '05:10:00')
('Savings', 'Salary Loan', 5, '2024-11-15', '12:45:00')

In [66]:
import sqlite3

class database:
    def __init__(self, db_name):
        self.db_name = db_name
        self.conn = sqlite3.connect(db_name)
        self.cursor = self.conn.cursor()

    def execute_query(self, query, params=()):
        self.cursor.execute(query, params)
        self.conn.commit()

    def fetch_one(self, query, params=()):
        self.cursor.execute(query, params)
        return self.cursor.fetchone()

    def fetch_all(self, query, params=()):
        self.cursor.execute(query, params)
        return self.cursor.fetchall()

    def close(self):
        self.conn.close()

class client:
    def __init__(self, customer_name, account_number, address, phone, balance=0.0):
        self.customer_name = customer_name
        self.account_number = account_number
        self.address = address
        self.phone = phone
        self.balance = balance

class account:
    def __init__(self, db, user):
        self.db = db
        self.user = user
        self.create_account()

    def create_account(self):
            query = """insert into user (customer_name, account_number, address, phone)
                      values (?, ?, ?, ?)"""
            self.db.execute_query(query, (self.user.customer_name, self.user.account_number, self.user.address, self.user.phone))
            query = """insert into account (accNo, custName, balance)
                      values (?, ?, ?)"""
            self.db.execute_query(query, (self.user.account_number, self.user.customer_name, self.user.balance))

    def update_balance(self, new_balance):
            query = """update account set balance = ? WHERE accNo = ?"""
            self.db.execute_query(query, (new_balance, self.user.account_number))

    def deposit(self, amount):
        if amount > 0:
            self.user.balance += amount
            self.update_balance(self.user.balance)
            print(f"Deposited {amount}. New balance: {self.user.balance}")
        else:
            print("Deposit amount must be greater than zero.")

    def withdraw(self, amount):
        if amount > 0 and self.user.balance >= amount:
            self.user.balance -= amount
            self.update_balance(self.user.balance)
            print(f"Withdrew {amount}. New balance: {self.user.balance}")
        else:
            print("Insufficient funds or invalid amount.")

    def get_balance(self):
        return self.user.balance

class loan:
    def __init__(self, db, account):
        self.db = db
        self.account = account

    def loan_approval(self, loan_amount):
        if loan_amount > 0:
            self.account.deposit(loan_amount)
            print(f"Loan approved. {loan_amount} added to account balance. New balance: {self.account.get_balance()}")
        else:
            print("Loan amount must be greater than zero.")

    def collect_payment(self, amount):
        if amount > 0 and self.account.get_balance() >= amount:
            self.account.withdraw(amount)
            print(f"Loan repaid. {amount} deducted from account. New balance: {self.account.get_balance()}")
        else:
            print("Insufficient funds or invalid repayment amount.")

class system:
    def __init__(self, db_name):
        self.db = database(db_name)
        self.setup_database()

    def setup_database(self):
        self.db.execute_query("DROP TABLE IF EXISTS user")
        self.db.execute_query("""CREATE TABLE user (
                                customer_name char(50) NOT NULL,
                                account_number char(50) PRIMARY KEY,
                                address char(50),
                                phone char(20))""")

        self.db.execute_query("DROP TABLE IF EXISTS account")
        self.db.execute_query("""CREATE TABLE account (
                                accNo char(50) NOT NULL,
                                custName char(50),
                                balance float,
                                FOREIGN KEY (accNo) REFERENCES user(account_number))""")

    def new_account(self, customer_name, account_number, address, phone, balance=0.0):
        customer = client(customer_name, account_number, address, phone, balance)
        return account(self.db, customer)

    def close(self):
        self.db.close()

In [68]:
bank_db = system('banking.db')

In [69]:
#Retreive the details of the loan applicant
loan_app1 = bank_db.new_account('Ivan Villena', '123-456', 'Pasig', '12345678', 2000.00)

In [70]:
#Disbursing the approved loan amount to the applicant, and update his account balance
loan_disbursement1 = loan(bank_db, loan_app1)
loan_disbursement1.loan_approval(5000)

Deposited 5000. New balance: 7000.0
Loan approved. 5000 added to account balance. New balance: 7000.0

In [72]:
#Collects the amortization from the applicant and updates his account balance
loan_disbursement1.collect_payment(1000)

Withdrew 1000. New balance: 6000.0
Loan repaid. 1000 deducted from account. New balance: 6000.0

In [83]:
import sqlite3
conn = sqlite3.connect('banking.db')
cursor = conn.execute("SELECT * from account where accNo = '123-456'") #Retrieves the account balance of the loan applicant by modifying the code for fetching all the bank clients
for row in cursor:
    print(row)

conn.close()

('123-456', 'Ivan Villena', 6000.0)